.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}

.button--search {
  border-radius: 5px;
  background-color: $blue;
  //background-color: green;
  width: 10rem;
  margin: $s-size;
}

.button--add {
  border-radius: 5px;
  background-color: green;
  //background-color: $blue;
  width: 10rem;
  margin: $s-size;
}

// added new
.header-menu-container {
  min-height: 56px;
  margin: 0 auto;
  padding: 0;
  max-width: 100rem;
  text-align: center;
  margin-bottom: 16px;
}

.button-menu-header {
  background: transparent;
  font-size: 18px;
  border: none;
  margin: 8px 0;
  width: auto;
  padding: 16px;
  font-weight: bold;
  &:focus {
    outline: 0 !important;
  }

  @media (max-width: 508px) {
    font-size: 14px;
    padding: 4px;
  }
}

.button-half-size {
  width: 49%;
}

.button-third-size {
  width: 33%;
}

.button-border-right {
  border-right: 2px solid grey;
}

.vetical-divider {
  display: inline-block;
  width: 2px;
  background-color: grey;
  height: 48px;
  margin-top: 12px;
}

.select-btn {
  color: burlywood;
}

// -----------------

.button--save {
  border-radius: 5px;
  background-color: #00b894;
  width: 100%;
  margin: 2rem auto;
}

.button--back {
  margin-left: -40px;
  border-radius: 5px;
  background-color: rgb(10, 129, 150);
}

.button--remove {
  background-color: #e17055;
  border-radius: 5px;
  margin-bottom: 40px;
}

.button--add-expense {
  border-radius: 5px;
  background-color: rgb(48, 196, 48);
  width: 80%;
  margin: 5rem auto;
}
