.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 80rem;
}

.dashboard-container {
  margin: 0 auto;
  max-width: 60rem;
  text-align: center;
}

.center {
  text-align: center;
}
