.dropbtn {
  background-color: #e17055;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 12px;
  width: 100%;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #e17055;
}

.dropdown-content {
  position: absolute;
  background-color: #e17055;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 60%;
}

.dropdown-content div {
  cursor: pointer;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid grey;
}

.dropdown-content div:last-child {
  border: none;
}

.dropdown-content div:hover {
  background-color: #fab1a0;
  color: white;
}
